font-face {
	font-family: 'murs';
	src: url('../fonts/mursgothic-widedark-webfont.eot');
	src: url('../fonts/mursgothic-widedark-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/mursgothic-widedark-webfont.woff2') format('woff2'),
			 url('../fonts/mursgothic-widedark-webfont.woff') format('woff'),
			 url('../fonts/mursgothic-widedark-webfont.ttf') format('truetype'),
			 url('../fonts/mursgothic-widedark-webfont.svg#murs_gothicwide_dark') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'trim';
	src: url('../fonts/trim_web_regular-webfont.eot');
	src: url('../fonts/trim_web_regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/trim_web_regular-webfont.woff2') format('woff2'),
			 url('../fonts/trim_web_regular-webfont.woff') format('woff'),
			 url('../fonts/trim_web_regular-webfont.ttf') format('truetype'),
			 url('../fonts/trim_web_regular-webfont.svg#trim_web_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;

}