$main-font: "murs", sans-serif;
$secondary-font: "trim", arial, sans-serif;

$weight-bold: 700;
$weight-medium: 500;
$weight-medium: 400;

$fs-lg: rem(36);
$fs-md: rem(18);
$fs-sm: rem(14);


$lh-lg: rem(40);
$lh-md: rem(24);
$lh-sm: rem(17);

$white: #fff;
$main-color: #161616;
$secondary-color: #6B7280;
$third-color: #210D03;
$fourth-color: #04071E;
$fifth-color: #D1D5DB;
$sixth-color: #EC5728;
$error: #ff0000;


$links-color: $main-color;
$btn-bg: $third-color;
$btn-color: $white;
$icon-color: $fourth-color;
$popup-bg: $white;
$popup-color: $secondary-color;
$input-bg: transparent;
$input-border: $fifth-color;
$input-color: $secondary-color;
$border-color: $secondary-color;
$popup-img-bg: $sixth-color;



